form{
    margin-left: 20%;
    margin-top: 10%;
    background: chartreuse;
    width: 50%;
    border: black;
    border-radius: 2%;
}
#u{
    margin-top: 2%;
}
#p{
    margin-top: 2%;
}
#e{
    margin-top: 2%;
}
#b{
    margin-top: 2%;
}
#t{
    
}